[submodule "estimatelog"]
	path = estimatelog
	url = https://github.com/mane-23G/estimatelog.git
[submodule "steady"]
	path = steady
	url = https://github.com/mane-23G/steady.git
[submodule "search"]
	path = search
	url = https://github.com/mane-23G/search.git
[submodule "redeacted"]
	path = redeacted
	url = https://github.com/mane-23G/redeacted.git
